
gpu_server/
experiments/
logs/
ITKElastix/
gryds/
RegNet/
archive/
multi-step-ViT/checkpoints/
*.raw
logs/
4DCT/data/artificial/*

4DCT/data/train/synthetic_image/*
4DCT/data/train/synthetic_dvf_resp/*
4DCT/data/train/synthetic_dvf_aug/*
HPC/*
