IXI_data/
gpu_server/
experiments/
logs/
gryds/
RegNet/
!/TransMorph_Transformer_for_Medical_Image_Registration-main/4DCT/
/TransMorph_Transformer_for_Medical_Image_Registration-main/4DCT/TransMorph/logs/
/TransMorph_Transformer_for_Medical_Image_Registration-main/4DCT/TransMorph/experiments/
/TransMorph_Transformer_for_Medical_Image_Registration-main/IXI/
