
gpu_server/
experiments/
logs/
ITKElastix/
gryds/
RegNet/
archive/
multi-step-ViT/checkpoints/
*.raw
logs/
4DCT/data/artificial/*

4DCT/data/train/synthetic_image/*
4DCT/data/train/synthetic_dvf_resp/*
4DCT/data/train/synthetic_dvf_aug/*
4DCT/data/preprocessing
HPC/*
4DCT/data/preprocessing
4DCT/data/gryds18
4DCT/data/SMOD18
4DCT/data/real18+gryds18
4DCT/data/real18+SMOD18
.neptune