absl-py @ file:///C:/b/abs_5babsu7y5x/croot/absl-py_1666362945682/work
aiohttp @ file:///C:/b/abs_c4zmy2l696/croot/aiohttp_1670009573673/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1662382474514/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
async-timeout @ file:///C:/b/abs_43ozhz2a8g/croots/recipe/async-timeout_1664876362767/work
attrs @ file:///C:/b/abs_09s3y775ra/croot/attrs_1668696195628/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.4
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1685060431049/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1685053586100/work
Bottleneck @ file:///C:/Windows/Temp/abs_3198ca53-903d-42fd-87b4-03e6d03a8381yfwsuve8/croots/recipe/bottleneck_1657175565403/work
bravado @ file:///home/conda/feedstock_root/build_artifacts/bravado_1614723672758/work
bravado-core @ file:///home/conda/feedstock_root/build_artifacts/bravado-core_1662640043835/work
brotlipy==0.7.0
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
certifi==2023.5.7
cffi @ file:///C:/b/abs_49n3v2hyhr/croot/cffi_1670423218144/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///C:/ci/click_1646038595831/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorcet==3.0.1
contextlib2==21.6.0
contourpy==1.0.7
cryptography @ file:///C:/b/abs_8ecplyc3n2/croot/cryptography_1677533105000/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cytoolz @ file:///C:/b/abs_61m9vzb4qh/croot/cytoolz_1667465938275/work
dask @ file:///C:/ci/dask-core_1658515307198/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1682692167356/work
debugpy @ file:///C:/ci/debugpy_1637091961445/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1666603105584/work
einops @ file:///home/conda/feedstock_root/build_artifacts/einops_1681884646122/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fastjsonschema==2.16.3
filelock @ file:///C:/b/abs_c7yrhs9uz2/croot/filelock_1672387617533/work
flit_core @ file:///C:/b/abs_eayrusf37u/croot/flit-core_1679397110577/work/source/flit_core
fonttools==4.39.3
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1638810296540/work/dist
frozenlist @ file:///C:/b/abs_2bb5uzghsi/croot/frozenlist_1670004511812/work
fsspec @ file:///C:/b/abs_5bjz6v0w_f/croot/fsspec_1670336608940/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1673596611778/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1669279893622/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1676637751542/work
google-auth @ file:///opt/conda/conda-bld/google-auth_1646735974934/work
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1617120569401/work
grpcio @ file:///C:/ci/grpcio_1637590978642/work
gryds==0.0.9
huggingface-hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1685724038553/work
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
imagecodecs @ file:///C:/b/abs_948ub5byiu/croots/recipe/imagecodecs_1664562381493/work
imageio @ file:///C:/Windows/TEMP/abs_24c1b783-7540-4ca9-a1b1-0e8aa8e6ae64hb79ssux/croots/recipe/imageio_1658785038775/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1681581693083/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1676919000169/work
ipydatawidgets==4.3.2
ipykernel @ file:///D:/bld/ipykernel_1655369313836/work
ipympl==0.9.3
ipython @ file:///D:/bld/ipython_1680185618122/work
ipython-genutils==0.2.0
ipywidgets==7.7.5
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1638811571363/work/dist
itk==5.3.0
itk-core==5.3.0
itk-elastix==0.16.0
itk-filtering==5.3.0
itk-io==5.3.0
itk-meshtopolydata==0.10.0
itk-numerics==5.3.0
itk-registration==5.3.0
itk-segmentation==5.3.0
itkwidgets==0.32.6
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
joblib @ file:///C:/b/abs_e60_bwl1v6/croot/joblib_1666298845728/work
jsonpointer==2.0
jsonref==0.2
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1669810440410/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1681432441054/work
jupyter_core @ file:///D:/bld/jupyter_core_1678994368923/work
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.4
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
locket @ file:///C:/ci/locket_1652904031364/work
Markdown @ file:///C:/b/abs_98lv_ucina/croot/markdown_1671541919225/work
MarkupSafe @ file:///C:/ci/markupsafe_1654508077284/work
matplotlib @ file:///C:/b/abs_49b2acwxd4/croot/matplotlib-suite_1679593486357/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mistune==2.0.5
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
ml-collections==0.1.1
monai @ file:///home/conda/feedstock_root/build_artifacts/monai_1671483815675/work
monotonic==1.5
mpmath==1.2.1
msgpack @ file:///C:/ci/msgpack-python_1652329316214/work
multidict @ file:///C:/b/abs_6cx_8w3cv2/croot/multidict_1665674238352/work
multiprocess @ file:///C:/b/abs_ca0rg6wl6_/croot/multiprocess_1668006439310/work
munkres==1.1.4
natsort @ file:///tmp/build/80754af9/natsort_1611692802956/work
nbclient==0.7.4
nbconvert==7.4.0
nbformat==5.8.0
neptune-client @ file:///home/conda/feedstock_root/build_artifacts/neptune-client_1683711265960/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx @ file:///C:/b/abs_b935xy_9g6/croot/networkx_1678964342510/work
nibabel @ file:///D:/bld/nibabel_1680908538364/work
notebook==6.4.12
numexpr @ file:///C:/b/abs_a7kbak88hk/croot/numexpr_1668713882979/work
numpy @ file:///C:/b/abs_datssh7cer/croot/numpy_and_numpy_base_1672336199388/work
oauthlib @ file:///C:/b/abs_44riqpe5gg/croot/oauthlib_1679489644705/work
opencv-python==4.7.0.72
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas @ file:///C:/b/abs_b9kefbuby2/croot/pandas_1677835593760/work
pandocfilters==1.5.0
param==1.13.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.4.0
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs @ file:///C:/b/abs_73cc5cz_1u/croots/recipe/platformdirs_1662711386458/work
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
prometheus-client==0.16.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1677600924538/work
protobuf==3.20.3
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==11.0.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct==0.5.0
pyelastix==1.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681142969746/work
PyJWT @ file:///C:/ci/pyjwt_1657511236979/work
pyOpenSSL @ file:///C:/b/abs_552w85x1jz/croot/pyopenssl_1677607703691/work
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
pyrsistent==0.19.3
PySocks @ file:///C:/ci/pysocks_1605307512533/work
pystrum==0.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///C:/b/abs_22fofvpn1x/croot/pytz_1671698059864/work
PyWavelets @ file:///C:/b/abs_a8r4b1511a/croot/pywavelets_1670425185881/work
pywin32==305.1
pywinpty==2.0.10
PyYAML==6.0
pyzmq @ file:///C:/ci/pyzmq_1657615952984/work
regex @ file:///C:/ci/regex_1658258307256/work
requests @ file:///C:/b/abs_80_edxtvhu/croot/requests_1678709752318/work
requests-oauthlib==1.3.0
responses @ file:///home/conda/feedstock_root/build_artifacts/responses_1643839609465/work
rfc3339-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1638811747357/work
rfc3987==1.3.8
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1683241957497/work
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1651557636210/work
scikit-image @ file:///C:/b/abs_63r0vmx78u/croot/scikit-image_1669241746873/work
scikit-learn @ file:///C:/b/abs_61gq_04cwx/croot/scikit-learn_1673957229218/work
scipy==1.10.0
seaborn @ file:///C:/b/abs_68ltdkoyoo/croot/seaborn_1673479199997/work
Send2Trash==1.8.2
SimpleITK==2.2.1
simplejson @ file:///D:/bld/simplejson_1649013711940/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
soupsieve==2.4.1
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
swagger-spec-validator @ file:///home/conda/feedstock_root/build_artifacts/swagger-spec-validator_1667582568661/work
sympy @ file:///C:/b/abs_95fbf1z7n6/croot/sympy_1668202411612/work
tensorboard @ file:///C:/Users/builder/adipietro/mc3/tf210/conda-bld/tensorboard_1669760968711/work/tensorboard-2.10.0-py3-none-any.whl
tensorboard-data-server @ file:///C:/b/abs_2fhvpo862s/croot/tensorboard-data-server_1670853600144/work/tensorboard_data_server-0.6.1-py3-none-any.whl
tensorboard-plugin-wit @ file:///C:/tf/b/tensorboard-plugin-wit_1660162132996/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
terminado==0.17.1
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2023.4.12
timm==0.6.13
tinycss2==1.2.1
tokenizers @ file:///C:/ci/tokenizers_1651803138196/work
toolz @ file:///C:/b/abs_cfvk6rc40d/croot/toolz_1667464080130/work
torch==2.0.0
torchaudio==2.0.0
torchvision==0.15.0
tornado @ file:///D:/bld/tornado_1656937934674/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
traittypes==0.2.1
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1681535839454/work
typing_extensions @ file:///C:/b/abs_89eui86zuq/croot/typing_extensions_1669923792806/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1647268373306/work/dist
urllib3 @ file:///C:/b/abs_3ce53vrdcr/croot/urllib3_1680254693505/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1679900785843/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1684708148666/work
Werkzeug @ file:///C:/b/abs_8578rs2ra_/croot/werkzeug_1679489759009/work
widgetsnbextension==3.6.4
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
xxhash @ file:///C:/b/abs_e59ry5bslh/croot/python-xxhash_1667919514787/work
yarl @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_e5nlunspj6/croots/recipe/yarl_1661437086516/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
zstandard==0.21.0
